
.row
	.text-center.v-center
		-if @opc == '1'
			%a{:href => "/"}
				.alert.alert-success.alert-dismissable
					%button.close{"data-dismiss" => "alert",:type => "button"} &times;
					%h2 Libro insertado correctamente.
		-elsif @opc == '-1'
			%a{:href => "/"}
				.alert.alert-success.alert-dismissable
					%button.close{"data-dismiss" => "alert", :type => "button"} &times;
					%h2 Error Insertar libro
		-elsif @opc == '2'
			%a{:href => "/"}
				.alert.alert-success.alert-dismissable
					%button.close{"data-dismiss" => "alert", :type => "button"} &times;
					%h2 No se encontrarón datos en Google Books, revise el ISBN.
		.col-xs-6
			%h1 Escanear Código
			%a{:href => "/escanear"}
				%img.img-thumbnail{:alt => "Imagenes Escaner Codigo", :src => "img/escanear-codigo.jpg"}/
		.col-xs-6
			%h1 Leer ISBN
			%br
			%br
			%br
			%form.form-inline{:action => "/insertar", :method => "post"}
				.form-group{:style => "text-align:center;margin:0 auto;"}
				%input.form-control.input-lg{:name => "isbn", :placeholder => "Opcional ISBN", :size => "20", :type => "text", :value => ""}/
				%button.btn.btn-lg.btn-primary{:type => "submit", :value => "Submit"} Buscar
.row
	.col-xs-12
		.text-center.v-center
			%h1 Tu Biblioteca
		%table.table-responsive.table.table-hover
			%thead
				%tr
					%th Portada
					%th Titulo
					%th Autor
					%th Editorial
					%th Categoria
			%tbody
				- @list.each do |valor|
					%tr
						%td 
							%a{:href=>"/info/#{valor.id}", :target=>"_blank"}
								%img{:class => "img-responsive", :src=>"#{valor.img}", :width => "50"}/
						%td
							%a{:href=>"/info/#{valor.id}" , :target=>"_blank"} #{valor.titulo}
						%td 
							%a{:href=>"/info/#{valor.id}" , :target=>"_blank"} #{valor.autores}
						%td 
							%a{:href=>"/info/#{valor.id}" , :target=>"_blank"} #{valor.editorial}
						%td 
							%a{:href=>"/info/#{valor.id}" , :target=>"_blank"} #{valor.categoria}